/* Genel Sıfırlamalar */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #F8E8F8; /* Genel sayfa arka plan rengi */
  font-family: 'Quicksand', sans-serif; /* Projenin genel fontu */
}

/* Diğer global stilleriniz varsa buraya ekleyin */